@{
    ViewData["Title"] = "Home Page";
 
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nullamsoftware</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Nullamsoftware.styles.css" asp-append-version="true" />


</head>

<body>
    
        
        <div class="row gx-3 mb-4">
            <div class="col-6">
                <div class="col-content pt-3">Tulevased Üritused</div>
         </div>
        <div class="col-6">
            <div class="col-content pt-3">Toimunud Üritused</div>
        </div>
        <div class="col-6">
            <div class="col-content2">
                <ol>
                    <li>Kool</li>
                    <li>Pidu</li>
                    <li>Pulm</li>
                </ol>
            </div>
        </div>
        <div class="col-6">
            <div class="col-content2">
                <ol>
                    <li>Magine</li>
                    <li>Pesemine</li>
                    <li>Jooksmine</li>
                </ol>
            </div>
        </div>
        </div>
       

    
    <script src="~/js/myscript.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
 
</body>
</html>

