@model Nullamsoftware.Models.EventModel
@{
    ViewData["Title"] = "Home Page";
    
}

<!---------- Index - Home page ------------->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nullamsoftware</title>
</head>
<body>

      <div class="row g-0 mb-4">
        <div class="col-6 mainsite">
           Lorem Ipsum is simply dummy text of the printing and typesetting industry.
           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
           printer took a galley of type and scrambled it to make a type specimen book.
           It has survived not only five centuries, but also the leap into electronic typesetting,
           remaining essentially unchanged.
        </div>
          <div class="col-6">
            <img class="backgroundimage" src="~/img/pilt.jpg">
          </div>
      </div>

      <div class="row gx-3 mb-0">
        <div class="col-6">
          <div class="col-content pt-3">Tulevased Üritused</div>
        </div>
        <div class="col-6">
          <div class="col-content pt-3">Toimunud Üritused</div>
        </div>
      </div>

      <div class ="row g-0 mb-4">
        <div class="col-2 g-0">
          <div class="col-content2" id="events">
            <ol id="eventlist">
             <!--- Here we dynamically display 5 future events in acending order --->
            </ol>
                            
          </div> 
        </div>
        <div class="col-2">
           
          <div class="col-content2" id="eventd">
            <ol id="eventdates" style="list-style:none;">
             <!--- We display future dates dynamically-->
            </ol>
          </div>

         </div>
         <div class="col-2 pe-2">
           <div class="col-content2" id="participants">
              <ol id="osa"style="list-style:none; font-weight:bold; color:grey;">
                <!--- Links to display event participants--->
                <!--- Here i use the sendId function with link id as parameter when user cliks on the event, i will use this id value later ----->
                <li><a asp-controller="Home" asp-action="Participants" id="1" onclick="sendId('1')">Osavõtjad</a> <img class="remove" src="~/img/remove.svg"></li>
                <li><a asp-controller="Home" asp-action="Participants" id="2" onclick="sendId('2')">Osavõtjad</a> <img class="remove" src="~/img/remove.svg"></li>
                <li><a asp-controller="Home" asp-action="Participants" id="3" onclick="sendId('3')">Osavõtjad</a> <img class="remove" src="~/img/remove.svg"></li>
                <li><a asp-controller="Home" asp-action="Participants" id="4" onclick="sendId('4')">Osavõtjad</a> <img class="remove" src="~/img/remove.svg"></li>
                <li><a asp-controller="Home" asp-action="Participants" id="5" onclick="sendId('5')">Osavõtjad</a> <img class="remove" src="~/img/remove.svg"></li>
                </ol>
           </div>
         </div>
         <div class="col-3 ps-2">
           <div class="col-content2" id=pastevents>
             <ol id="pasteventlist">
               <!--- Here we dynamically display 5 past events in descending order --->
             </ol>

           </div>
         </div>
         <div class="col-3" >
           <div class="col-content2">
             <ol id="pasteventdates" style="list-style:none;">
               <!--- We display past dates dynamically-->
             </ol>
           </div>
          </div>
     </div>
        
</body>
</html>

