@model Nullamsoftware.Models.EventModel
@{
    ViewData["Title"] = "Home Page";

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nullamsoftware</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Nullamsoftware.styles.css" asp-append-version="true" />
</head>

<body>
      
        <div class="row g-0 mb-4">
            <div class="col-6 mainsite">
                
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged.
               
            </div>

            <div class="col-6">
                <img class="backgroundimage" src="~/img/pilt.jpg">
            </div>
        </div>

        <div class="row gx-3 mb-0">
            <div class="col-6">
               <div class="col-content pt-3">Tulevased Üritused</div>
            </div>
        <div class="col-6">
            <div class="col-content pt-3">Toimunud Üritused</div>
            </div>
        </div>

      <div class ="row g-0 mb-4">
                 <div class="col-2 g-0">
                        <div class="col-content2" id="events">
				            <!-- Kuvame 5 tulevast üritust sorditult kasvavalt-->
                            
                            <ol id="eventlist">
                                

                            </ol>
                            
                        </div> 
                </div>
                 <div class="col-2">
			                <!-- Kuvame tulevaste ürituste kuupäevad-->
                    <div class="col-content2" id="eventd">
                            <ol id="eventdates" style="list-style:none;">

                            </ol>
                    </div>

                </div>

                <div class="col-2 pe-2">
                    <div class="col-content2" id="participants">
                             <ol id="osa"style="list-style:none; font-weight:bold; color:grey;">
                                  <li><a href="#">Osavõtjad</a> <img class="remove" src="~/img/remove.svg"></li>
                                  <li><a href="#">Osavõtjad</a> <img class="remove" src="~/img/remove.svg"></li>
                                  <li><a href="#">Osavõtjad</a> <img class="remove" src="~/img/remove.svg"></li>
                                  <li><a href="#">Osavõtjad</a> <img class="remove" src="~/img/remove.svg"></li>
                                  <li><a href="#">Osavõtjad</a> <img class="remove" src="~/img/remove.svg"></li>
                    
                            </ol>
                    </div>

                </div>

                <div class="col-3 ps-2">
                    <div class="col-content2">
                        <ol>
                            <li>Magine</li>
                            <li>Pesemine</li>
                            <li>Jooksmine</li>
                        </ol>
                    </div>
                </div>

            <div class="col-3" >
                <div class="col-content2">
                    <ol>
                        <li>Tekst</li>
                        <li>Veel</li>
                        <li>Loovus</li>
                    </ol>
                </div>
            </div>
     </div>
        
       
 
 
</body>
</html>

