@model Nullamsoftware.Models.ParticipantModel

@{
    ViewData["Title"] = "Participants";

}


<body>
    <div class="row g-0">
        <div class="col-3">
            <div class="addeventtitle">Osavõtjad</div>
        </div>
        <div class="col-9">
            <img class="eventimage" src="~/img/libled.jpg" alt="libled" />
        </div>
    </div>

    <div class="row g-0 pb-5 participantsrow" id="partrow">
        <div class="col-3">
                
        </div>
        <div class="col-3 pt-4 participantscol">      
        <h3>Osavõtjad</h3>
        <ol>
           <li>Ürituse nimi:</li>
           <li>Toimumisaeg:</li>
           <li>Koht:</li>
           <li>Osavõtjad:</li>
        </ol>
               
        </div>
        <div class="col-6 pt-4" >
             <ol style ="list-style:none" id="datalist">
                <li id="esimenel"></li>
                <li id="teinel"></li>
                <li id="kolmasl"></li>
             </ol>
        </div>
    </div>

    <div class="row g-0 mb-4 addparticipantrow" id="addp">
      <div class="col-3">

      </div>

     <div class="col-9 addparticipantcol">
       <h3>Osavõtjate lisamine</h3>
		<form asp-action="Participants" name="addp">
            <!-- Eraisik on : 1, Ettevõte on: 2 -->
          <div class="form-check form-check-inline me-5 radioform">
					<input asp-for="Isikut" name="Isikut" value="1" class="form-check-input" type="radio" id="flexRadioDefault1">
               <label class="form-check-label" for="flexRadioDefault1">
                   Eraisik
                </label>
          </div>
          <div class="form-check form-check-inline mt-4">
             <input asp-for="Isikut" name="Isikut" value ="2"class="form-check-input" type="radio" id="flexRadioDefault2">
               <label class="form-check-label" for="flexRadioDefault2">
                  Ettevõte
               </label>
          </div>
         
            <div class="form-group row pb-2">
              <label for="eesnimi" class="col-xl-2 col-md-3 col-sm-3 col-4 col-form-label">Eesnimi:</label>
                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-7">
                  <input asp-for="Eesnimi"  name="Eesnimi" class="form-control" placeholder="" id="nimi">
                </div>
            </div>
             <div class="form-group row pb-2">
               <label for="perenimi" class="col-xl-2 col-md-3 col-sm-3 col-4 col-form-label">Perenimi:</label>
                 <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-7">
                    <input asp-for="Perenimi" name ="Perenimi" class="form-control" placeholder="">
                 </div>
             </div>
             <div class="form-group row pb-2">
                <label for="isikukood" class="col-xl-2 col-md-3 col-sm-3 col-4 col-form-label">Isikukood:</label>
                  <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-7">
                    <input asp-for="Isikukood" name="Isikukood" class="form-control" placeholder="">
                  </div>
             </div>
             <div class="form-group row pb-2">
                <label for="makseviis" class="col-xl-2 col-md-3 col-sm-3 col-4 col-form-label">Maksmisviis:</label>
                   <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-7">
                      <select asp-for="Maksmisviis" name="Maksmisviis" class="form-select" id="inputGroupSelect02">
                            <!-- Ülekandega on : 1, Sularahas on: 2 -->
                            <option selected></option>
                            <option value="1">Ülekandega</option>
                            <option value="2">Sularahas</option>    
                      </select>
                   </div>
             </div>
                   <div class="form-group row txtarea">
                     <label for="lisainfo" class="col-xl-2 col-md-3 col-sm-3 col-4 col-form-label">Lisainfo:</label>
                        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-7">
						<textarea asp-for="Lisainfoisik"name="Lisainfoisik" class="form-control" id="exampleFormControlTextarea1" style="resize: none;" rows="2"></textarea>
                        </div>
                    </div>
                <button asp-controller="Home" asp-action="Index" type="submit" class="btn btn-secondary btn-sm">Tagasi</button>
                <button type="submit" class="btn btn-primary btn-sm" id="lisa">Salvesta</button>

         </form>

            @{
                if (@TempData["msg"] != null)
                {
                      <script>
                       alert('@TempData["msg"]');
                       </script>
                }
            }

      </div>
          
    </div>
 

</body>