@model Nullamsoftware.Models.ParticipantModel

@{
    ViewData["Title"] = "Participants";
}
<!---------- Page for displaying event participants --------->
<body>

    <div class="row g-0">
      <div class="col-3">
        <div class="addeventtitle">Osavõtjad</div>
      </div>
      <div class="col-9">
        <img class="eventimage" src="~/img/libled.jpg" alt="libled" />
      </div>
    </div>

    <div class="row g-0 pb-5 participantsrow" id="partrow">
       <div class="col-3">
        <!--- Empty space to match the assignment design --->       
       </div>
       <div class="col-3 participantscol">      
       <h3>Osavõtjad</h3>
       <ol>
         <li>Ürituse nimi:</li>
         <li>Toimumisaeg:</li>
         <li>Koht:</li>
         <li>Osavõtjad:</li>
       </ol>
       </div>
       <div class="col-6 participantsdatacol">
         <ol style="list-style:none;">
           <li id="Ynimi"></li>
           <li id="Toimumisaeg"></li>
           <li id="Koht"></li>
         </ol>
             <ol id="participantslist">
             <!-- Dynamically added participants --->
             </ol>
        </div>
    </div>

    <div class="row g-0 mb-4 addparticipantrow" id="addp">
      <div class="col-3">
       <!--- Empty space to match the assignment design --->
      </div>
     <div class="col-9 addparticipantcol">
       <h3>Osavõtjate lisamine</h3>

       <!---Input for for participants using asp-for --->
		<form asp-action="Participants" name="addp">
        <!--- An input field that is hidden from the user, but we need the dynamically added value to our form, the value matches the participants to the correct event  -->
          <input asp-for = "Fk_Participant" name="Fk_Participant" value="" id="fkval" style="display:none"> 
          <div class="form-check form-check-inline me-5 radioform">
          <!-- We set the value for 'Eraisik' to 1 and 'Ettevõte'to 2, we need these values later to display the correct data -->
		  <input asp-for="Isikut" name="Isikut" value="1" class="form-check-input" type="radio" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
             Eraisik
          </label>
          </div>
          <div class="form-check form-check-inline mt-4">
            <input asp-for="Isikut" name="Isikut" value ="2"class="form-check-input" type="radio" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              Ettevõte
            </label>
          </div>
          <div class="form-group row pb-2">
            <label for="eesnimi" class="col-xl-2 col-md-3 col-sm-3 col-4 col-form-label">Eesnimi:</label>
              <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-7">
                <input asp-for="Eesnimi"  name="Eesnimi" class="form-control" placeholder="" id="nimi">
              </div>
           </div>
          <div class="form-group row pb-2">
            <label for="perenimi" class="col-xl-2 col-md-3 col-sm-3 col-4 col-form-label">Perenimi:</label>
              <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-7">
                <input asp-for="Perenimi" name ="Perenimi" class="form-control" placeholder="">
              </div>
          </div>
          <div class="form-group row pb-2">
            <label for="isikukood" class="col-xl-2 col-md-3 col-sm-3 col-4 col-form-label">Isikukood:</label>
              <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-7">
                <input asp-for="Isikukood" name="Isikukood" class="form-control" placeholder="">
              </div>
          </div>
          <div class="form-group row pb-2">
            <label for="makseviis" class="col-xl-2 col-md-3 col-sm-3 col-4 col-form-label">Maksmisviis:</label>
              <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-7">
                <select asp-for="Maksmisviis" name="Maksmisviis" class="form-select" id="inputGroupSelect02">
                  <!-- We set the value of payment method to 1 ('Ülekandega)' and 2 ('Sularahas') respectively --->
                   <option selected></option>
                   <option value="1">Ülekandega</option>
                   <option value="2">Sularahas</option>    
                </select>
              </div>
          </div>
          <div class="form-group row txtarea">
            <label for="lisainfo" class="col-xl-2 col-md-3 col-sm-3 col-4 col-form-label">Lisainfo:</label>
              <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-7">
			    <textarea asp-for="Lisainfoisik"name="Lisainfoisik" class="form-control" id="exampleFormControlTextarea1" style="resize: none;" rows="2"></textarea>
              </div>
          </div>
          <!---We redirect the user to the home page with 'Tagasi' and start the asp-form action on submit --->
          <button asp-controller="Home" asp-action="Index" type="submit" class="btn btn-secondary btn-sm">Tagasi</button>
          <button type="submit" class="btn btn-primary btn-sm" id="lisa">Salvesta</button>
         </form>

         <!--- We let the user know if data insertion was successful, if not, error will be displayed  --->
            @{
                if (@TempData["msg"] != null)
                {
                      <script>
                       alert('@TempData["msg"]');
                       </script>
                }
            }
     </div>
          
    </div>
 
</body>