html {
    font-size: 14px;
    height:100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    height:100%;
    background-color: rgb(223, 229, 240);
}

.logo{
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left:2vw;
    margin-right:10vw;
}

.symbol{
    float:right;
    margin-top: 1vh;
    margin-bottom:1vh;
    margin-right: 2vw;
}

.mainsite{
    padding:1vw;
    height:28vh;
    background-color:blue;
    color:white;
    font-size:1vw;
}
.backgroundimage {
    height: 28vh;
    object-fit: cover;
    width: 100%;
}

.event {
    background-color: blue;
    color: white;
    font-size: 1vw;
    padding: 1vw;
    color: white;
    text-align: center;
}
.contact {
    background-color: grey;
    height: 25vh;
    padding: 1vw;
    font-size: 1vw;
}