html {
    font-size: 14px;
    height:100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    height:100%;
    background-color: rgb(223, 229, 240);
}

.logo{
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left:2vw;
    margin-right:10vw;
}

.symbol{
    float:right;
    margin-top: 1vh;
    margin-bottom:1vh;
    margin-right: 2vw;
}

.mainsite{
    padding:1vw;
    height:28vh;
    background-color:blue;
    color:white;
    font-size:1vw;
}
.backgroundimage {
    height: 28vh;
    object-fit: cover;
    width: 100%;
}

.event {
    background-color: blue;
    height: 8vh;
    padding:1vw;
}
.col-content {
    background-color:blue;
    color: white;
    font-size: 1vw;
    color: white;
    text-align: center;
    font-size:1vw;
    height:7vh;
}

.col-content2{
    background-color:white;
    color:black;
    height:25vh;
}
.contact {
    background-color: rgb(54, 56, 55);
    height: 22vh;
    font-size: 0.8vw;
    color: white;
    text-align:justify;
    padding-left:4vw;
    padding-top:4vh;
   
}
.addevent {
    padding: 1vw;
    height: 8vh;
    background-color: blue;
    color: white;
    font-size: 1vw;
}

h3{
    font-family:Calibri;
}

